# Modelo de seguro medico 

* usaremos idade, sexo crianças e fumante? para relacionar custos

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
# import statsmodels.formula.api as sm
import statsmodels.regression.linear_model as sm

In [2]:
dados = pd.read_csv("../medical-insurance/data/insurance.csv")

In [3]:
#Conta os dados
dados.count()

age         1338
sex         1338
bmi         1338
children    1338
smoker      1338
region      1338
charges     1338
dtype: int64

In [4]:
# contagem de vazios
dados.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
# informações basicas como tipos de dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
dados.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
# visualização do inicio
dados.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Transformaremos as categorias necessárias para numericos

In [8]:
regioes = list(dados.region.unique())
regioes

['southwest', 'southeast', 'northwest', 'northeast']

In [9]:
dados["sex"] = dados["sex"].map(lambda x: 1 if x == "female" else 0 )
dados["smoker"] = dados["smoker"].map(lambda x: 1 if x == "yes" else 0)
dados["region"] = dados["region"].map(lambda x: regioes.index(x))

In [10]:
dados.head(10)

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       0  16884.92400
1   18    0  33.770         1       0       1   1725.55230
2   28    0  33.000         3       0       1   4449.46200
3   33    0  22.705         0       0       2  21984.47061
4   32    0  28.880         0       0       2   3866.85520
5   31    1  25.740         0       0       1   3756.62160
6   46    1  33.440         1       0       1   8240.58960
7   37    1  27.740         3       0       2   7281.50560
8   37    0  29.830         2       0       3   6406.41070
9   60    1  25.840         0       0       2  28923.13692

In [11]:
# informações basicas como tipos de dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

In [30]:
X = dados.iloc[:, 0:6].values
y = dados.iloc[:, 6].values

In [31]:
modelo_prod = sm.OLS(y,X).fit()
modelo_prod.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.873
Model:                            OLS   Adj. R-squared (uncentered):              0.873
Method:                 Least Squares   F-statistic:                              1528.
Date:                Fri, 27 Oct 2023   Prob (F-statistic):                        0.00
Time:                        20:15:07   Log-Likelihood:                         -13625.
No. Observations:                1338   AIC:                                  2.726e+04
Df Residuals:                    1332   BIC:                                  2.729e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           204.4713     11.781     17.356      0.000     181.360     227.583
x2          -707.4281    345.190     -2.049      0.041   -1384.603     -30.253
x3            44.3561     16.800      2.640      0.008      11.399      77.313
x4           253.5290    144.444      1.755      0.079     -29.833     536.891
x5          2.329e+04    433.632     53.719      0.000    2.24e+04    2.41e+04
x6          -313.2181    150.845     -2.076      0.038    -609.137     -17.299
==============================================================================
Omnibus:                      283.897   Durbin-Watson:                   2.073
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              660.670
Skew:                           1.159   Prob(JB):                    3.45e-144
Kurtosis:                       5.546   Cond. No.                         127.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [36]:
teste = np.array([[19,1,27.900,0,1,0]])
modelo_prod.predict(pd.DataFrame(teste))

0    27709.15563
dtype: float64

In [37]:
modelo_prod.predict([[19,1,27.900,0,0,0]])

array([4415.0602676])

# Conclusão
1. Homens custam em media menos que as mulheres e a margem aumenta em todos os casos
2. Crianças aumentam o valor do seguro em quase 500 dolares
3. A região aumenta o valor do seguro em mais de 300 dolares
4. Fumar aumenta os custos em 7 vezes